<div class="qr-login">
  <div class="w1200">
    <span class="login-teacher">
    </span>
  </div>
</div>

<div class="logo-search w1200">
  <a href="/"><img src="assets/portal/logo.png" alt=""></a>
  <div class="search-box">24小时服务热线：18239912580</div>
</div>

<div class="relative">
  <div class="menu-bar">
    <ul class="w1200 menus">
      <li [routerLink]="['/index']">首页</li>
      <li [routerLink]="['/products']">
        产品服务 <i nz-icon type="caret-down" nzTheme="outline"></i>
        <ul class="menus-two">
          <li>环氧地坪系列</li>
          <li>耐磨地坪系列</li>
          <li>PVC塑胶地坪系列</li>
        </ul>
      </li>
      <li [routerLink]="['/case']">
        解决方案 <i nz-icon type="caret-down" nzTheme="outline"></i>
        <ul class="menus-two">
          <li>运动场地坪系列</li>
          <li>停车场地坪系列</li>
          <li>艺术地坪系列</li>
        </ul>
      </li>
      <li [routerLink]="['/process']">服务流程</li>
      <li [routerLink]="['/news']">最新动态</li>
      <li [routerLink]="['/about']">关于我们</li>
      <li [routerLink]="['/contact']">联系我们</li>
    </ul>
  </div>
</div>
