<nz-carousel #ban nzAutoPlay [nzEffect]="'fade'" style="height: 488px">
  <div nz-carousel-content><img src="assets/portal/slider-1.jpg" alt=""></div>
  <div nz-carousel-content><img src="assets/portal/slider-2.jpg" alt=""></div>
  <div nz-carousel-content><img src="assets/portal/slider-3.jpg" alt=""></div>
  <i nz-icon nzType="left" class="ban-left" (click)="ban.pre()"></i>
  <i nz-icon nzType="right" class="ban-right" (click)="ban.next()"></i>
</nz-carousel>

<div class="w1200">
  <h2 class="flex title-box">
    <span><i></i>产品服务 <em>Product Service</em></span>
    <a [routerLink]="['/index/platforms']">更多<i nz-icon nzType="double-right"></i></a>
  </h2>
  <ul class="flex platforms">
    <li *ngFor="let item of courses">
      <img src="assets/portal/{{item['path']}}.jpg" [alt]="item['title']" [title]="item['title']">
      <div class="platforms-title">{{item['title']}}</div>
    </li>
  </ul>
</div>

<div class="w1200">
  <h2 class="flex title-box">
    <span><i></i>客户案例 <em>Customer case</em></span>
    <a [routerLink]="['/index/platforms']">更多<i nz-icon nzType="double-right"></i></a>
  </h2>
  <ul class="flex platforms">
    <li *ngFor="let item of nodes">
      <img src="assets/portal/{{item['path']}}.jpg" [alt]="item['title']" [title]="item['title']">
      <div class="platforms-title">{{item['title']}}</div>
    </li>
  </ul>
</div>

<div class="panoramic_bg">
  <div class="w1200">
    <h2 class="flex title-box">
      <span style="color: #fff"><i style="background: #fff"></i>解决方案 <em>solution</em></span>
      <a [routerLink]="['/solution']" style="color: #fff">更多<i nz-icon nzType="double-right"></i></a>
    </h2>
    <nz-carousel nzAutoPlay [nzEffect]="'fade'" [nzDots]="false" style="height: 327px">
      <div nz-carousel-content>
        <img class="point" src="assets/portal/slider-1.jpg" alt="">
        <div class="panoramic-title hide">"红旗渠精神"全景系统</div>
      </div>
      <div nz-carousel-content>
        <img class="point" src="assets/portal/slider-2.jpg" alt="">
        <div class="panoramic-title hide">"石板岩扁担精神"全景系统</div>
      </div>
      <div nz-carousel-content>
        <img class="point" src="assets/portal/slider-3.jpg" alt="">
        <div class="panoramic-title hide">"谷文昌精神"全景系统</div>
      </div>
    </nz-carousel>
  </div>
</div>

<div class="course-bg">
  <div class="w1200">
    <h2 class="flex title-box">
      <span><i></i>业务分类 <em>Categories</em></span>
      <span></span>
    </h2>
    <ul class="flex courses">
      <li>
        <img src="assets/portal/type1.jpg" alt="环氧地坪工程" title="环氧地坪工程">
        <div class="course-title">
          <span>环氧地坪工程</span>
          <div title="环氧地坪也可称为环氧地面，是用环氧树脂为主材、固化剂、稀释剂、溶剂、分散剂、消泡剂及某些填料等混合加工而成的环氧地坪漆。">
            环氧地坪也可称为环氧地面，是用环氧树脂为主材、固化剂、稀释剂、溶剂、分散剂、消泡剂及某些填料等混合加工而成的环氧地坪漆。
          </div>
        </div>
      </li>
      <li>
        <img src="assets/portal/type2.jpg" alt="耐磨地坪工程" title="耐磨地坪工程"/>
        <div class="course-title">
          <span>耐磨地坪工程</span>
          <div title="环氧耐磨地坪，就是用环氧树脂漆制作的环氧砂浆地坪，具有易清洁，高耐磨，防霉防滑等特点。主要有金属型，非金属耐磨两种类型。">
            环氧耐磨地坪，就是用环氧树脂漆制作的环氧砂浆地坪，具有易清洁，高耐磨，防霉防滑等特点。主要有金属型，非金属耐磨两种类型。
          </div>
        </div>
      </li>
      <li>
        <img src="assets/portal/type3.jpg" alt="运动场地坪工程" title="运动场地坪工程"/>
        <div class="course-title">
          <span>运动场地坪工程</span>
          <div title="运动场地坪漆主要分为聚氨酯球场地坪漆和丙烯酸球场地坪漆，主要运用于网球场、篮球场、羽毛球场、排球场、等体育运动场地面。">
            运动场地坪漆主要分为聚氨酯球场地坪漆和丙烯酸球场地坪漆，主要运用于网球场、篮球场、羽毛球场、排球场、等体育运动场地面。
          </div>
        </div>
    </ul>
  </div>
</div>
